# Homework 01

In [1]:
# IMPORTS
import numpy as np
import pandas as pd

#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr

#Data viz
import plotly.graph_objs as go
import plotly.express as px

import time
from datetime import date

---
### Question 1: [Macro] Average growth of GDP in 2023

**What is the average growth (in %) of GDP in 2023?**

Download the timeseries Real Gross Domestic Product (GDPC1) from FRED (https://fred.stlouisfed.org/series/GDPC1). 
Calculate year-over-year (YoY) growth rate (that is, divide current value to one 4 quarters ago). Find the average YoY growth in 2023 (average from 4 YoY numbers).
Round to 1 digit after the decimal point: e.g. if you get 5.66% growth => you should answer  5.7

In [17]:
# first, select the appropiate date interval

end = date.today()
print(f'Year = {end.year}; month= {end.month}; day={end.day}')

start = date(year=end.year-70, month=end.month, day=end.day)

print(f'Period for indexes: {start} to {end} ')

Year = 2024; month= 4; day=20
Period for indexes: 1954-04-20 to 2024-04-20

In [24]:
gdpc1 = pdr.DataReader("GDPC1", "fred", start=start)
gdpc1

                GDPC1
DATE
1954-07-01   2880.482
1954-10-01   2936.852
1955-01-01   3020.746
1955-04-01   3069.910
1955-07-01   3111.379
...               ...
2022-10-01  21989.981
2023-01-01  22112.329
2023-04-01  22225.350
2023-07-01  22490.692
2023-10-01  22679.255

[278 rows x 1 columns]

In [30]:
gdpc1['gdpc1_us_yoy'] = gdpc1.GDPC1 / gdpc1.GDPC1.shift(4) - 1
gdpc1.tail()

                GDPC1  gdpc1_us_yoy
DATE
2022-10-01  21989.981      0.006517
2023-01-01  22112.329      0.017179
2023-04-01  22225.350      0.023825
2023-07-01  22490.692      0.029269
2023-10-01  22679.255      0.031345

In [36]:
gdpc1.loc['2023-01-01':'2023-12-31']

                GDPC1  gdpc1_us_yoy
DATE
2023-01-01  22112.329      0.017179
2023-04-01  22225.350      0.023825
2023-07-01  22490.692      0.029269
2023-10-01  22679.255      0.031345

In [35]:
gdpc1.loc['2023-01-01':'2023-12-31', 'gdpc1_us_yoy'].mean() * 100

2.5404433928676253

---
### Question 2. [Macro] Inverse "Treasury Yield"

**Find the min value of (dgs10-dgs2) after since year 2000 (2000-01-01) and write it down as an answer, round to 1 digit after the decimal point.**


Download DGS2 and DGS10 interest rates series (https://fred.stlouisfed.org/series/DGS2,
 https://fred.stlouisfed.org/series/DGS10). Join them together to one dataframe on date (you might need to read about pandas.DataFrame.join()), calculate the difference dgs10-dgs2 daily.

(Additional: think about what does the "inverted yield curve" mean for the market and investors? do you see the same thing in your country/market of interest? Do you think it can be a good predictive feature for the models?)

In [38]:
dgs10 = pdr.DataReader("DGS10", "fred", start=start)
dgs2 = pdr.DataReader("DGS2", "fred", start=start)

In [40]:
dgs10.tail()

            DGS10
DATE
2024-04-12   4.50
2024-04-15   4.63
2024-04-16   4.67
2024-04-17   4.59
2024-04-18   4.64

In [41]:
dgs2.tail()

            DGS2
DATE
2024-04-12  4.88
2024-04-15  4.93
2024-04-16  4.97
2024-04-17  4.93
2024-04-18  4.98

In [44]:
dgs_10_2 = dgs10.join(dgs2)

In [47]:
dgs_10_2['ITY'] = dgs_10_2['DGS10'] - dgs_10_2['DGS2']
dgs_10_2.tail()

            DGS10  DGS2   ITY
DATE
2024-04-12   4.50  4.88 -0.38
2024-04-15   4.63  4.93 -0.30
2024-04-16   4.67  4.97 -0.30
2024-04-17   4.59  4.93 -0.34
2024-04-18   4.64  4.98 -0.34

In [48]:
dgs_10_2.loc['2000-01-01':, 'ITY'].min()

-1.0800000000000005

---
### Question 3. [Index] Which Index is better recently?

**Compare S&P 500 and IPC Mexico indexes by the 5 year growth and write down the largest value as an answer (%)**

Download on Yahoo Finance two daily index prices for S&P 500 (^GSPC, https://finance.yahoo.com/quote/%5EGSPC/) and IPC Mexico (^MXX, https://finance.yahoo.com/quote/%5EMXX/). Compare 5Y growth for both (between 2019-04-09 and 2024-04-09). Select the higher growing index and write down the growth in % (closest integer %). E.g. if ratio end/start was 2.0925 (or growth of 109.25%), you need to write down 109 as your answer.

(Additional: think of other indexes and try to download stats and compare the growth? Do create 10Y and 20Y growth stats. What is an average yearly growth rate (CAGR) for each of the indexes you select?)

In [66]:
# first, select the appropiate date interval

end = date(year=2024, month=4, day=9)
print(f'Year = {end.year}; month= {end.month}; day={end.day}')

start = date(year=2019, month=4, day=9)

print(f'Period for indexes: {start} to {end} ')

Year = 2024; month= 4; day=9
Period for indexes: 2019-04-09 to 2024-04-09

In [70]:
sp500 = yf.download(tickers='^GSPC', period='max', interval = "1d")
ipc = yf.download(tickers='^MXX', period='max', interval = "1d")
sp500.tail()

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-04-15,5149.669922,5168.430176,5052.470215,5061.819824,5061.819824,3950210000
2024-04-16,5064.589844,5079.839844,5039.830078,5051.410156,5051.410156,4006200000
2024-04-17,5068.970215,5077.959961,5007.250000,5022.209961,5022.209961,3596130000
2024-04-18,5031.520020,5056.660156,5001.890137,5011.120117,5011.120117,3619760000
2024-04-19,5005.439941,5019.020020,4953.560059,4967.229980,4967.229980,3878750000

In [80]:
# sp500
(sp500.loc['2024-04-09']['Close'] / sp500.loc['2019-04-09']['Open'] - 1) * 100

80.48728998483689

In [81]:
# ipc
(ipc.loc['2024-04-09']['Close'] / ipc.loc['2019-04-09']['Open'] - 1) * 100

26.957387799656594

---
### Question 4. [Stocks OHLCV] 52-weeks range ratio (2023) for the selected stocks


**Find the largest range ratio [=(max-min)/max] of Adj.Close prices in 2023**


Download the 2023 daily OHLCV data on Yahoo Finance for top6 stocks on earnings (https://companiesmarketcap.com/most-profitable-companies/): 2222.SR,BRK-B, AAPL, MSFT, GOOG, JPM.

Here is the example data you should see in Pandas for "2222.SR": https://finance.yahoo.com/quote/2222.SR/history

Calculate maximum-minimim "Adj.Close" price for each stock and divide it by the maximum "Adj.Close" value.
Round the result to two decimal places (e.g. 0.1575 will be 0.16)

(Additional: why this may be important for your research?)

In [90]:
# first, select the appropiate date interval

end = date(year=2023, month=12, day=31)
print(f'Year = {end.year}; month= {end.month}; day={end.day}')

start = date(year=2023, month=1, day=1)

print(f'Period for indexes: {start} to {end} ')

Year = 2023; month= 12; day=31
Period for indexes: 2023-01-01 to 2023-12-31

In [95]:
stocks = ['2222.SR', 'BRK-B', 'AAPL', 'MSFT', 'GOOG', 'JPM']

for stock in stocks:
    df = yf.download(tickers=stock, period='max', interval = "1d")
    adj_max = df['Adj Close'].max()
    adj_min = df['Adj Close'].min()
    year_ratio = (adj_max - adj_min) / adj_max
    print(f'52-weeks range ratio {stock}: {year_ratio}')

[*********************100%%**********************]  1 of 1 completed

52-weeks range ratio 2222.SR: 0.4472140876140603

[*********************100%%**********************]  1 of 1 completed

52-weeks range ratio BRK-B: 0.9522020334191147

[*********************100%%**********************]  1 of 1 completed

52-weeks range ratio AAPL: 0.9998081867070381

[*********************100%%**********************]  1 of 1 completed

52-weeks range ratio MSFT: 0.9998698889358713

[*********************100%%**********************]  1 of 1 completed

52-weeks range ratio GOOG: 0.9845082839835472

[*********************100%%**********************]  1 of 1 completed

52-weeks range ratio JPM: 0.9946094141860143

---
### Question 5. [Stocks] Dividend Yield
**Find the largest dividend yield for the same set of stocks**

Use the same list of companies (2222.SR,BRK-B, AAPL, MSFT, GOOG, JPM) and download all dividends paid in 2023.
You can use `get_actions()` method or `.dividends` field in yfinance library (https://github.com/ranaroussi/yfinance?tab=readme-ov-file#quick-start)

Sum up all dividends paid in 2023 per company and divide each value by the closing price (Adj.Close) at the last trading day of the year.

Find the maximm value in % and round to 1 digit after the decimal point. (E.g., if you obtained `$1.25` dividends paid and the end year stock price is $100, the dividend yield is 1.25% -- and your answer should be equal to 1.3)

In [132]:
stocks = ['2222.SR', 'BRK-B', 'AAPL', 'MSFT', 'GOOG', 'JPM']

for stock in stocks:
    try:
        df = yf.Ticker(stock)
        df_2 = yf.download(tickers=stock, period='max', interval = "1d")
        
        div_sum = df.dividends.loc['2023-01-01':'2023-12-31'].sum()
        adj_max = df_2.loc['2023-12-28']['Adj Close']
    
        div = (div_sum / adj_max) * 100
    
        print(f'dividend {stock}: {div}')
    except:
        
        print(f'can not retrive {stock} info')

[*********************100%%**********************]  1 of 1 completed

dividend 2222.SR: 2.770149819503256

[*********************100%%**********************]  1 of 1 completed

dividend BRK-B: 0.0

[*********************100%%**********************]  1 of 1 completed

dividend AAPL: 0.49137940083617654

[*********************100%%**********************]  1 of 1 completed

dividend MSFT: 0.7448197381297581

[*********************100%%**********************]  1 of 1 completed

dividend GOOG: 0.0

[*********************100%%**********************]  1 of 1 completed

dividend JPM: 2.406778204024028

---
### Question 6. [Exploratory] Investigate new metrics

**Free text answer**

Download and explore a few additional metrics or time series that might be valuable for your project and write down why (briefly).

---
### Question 7. [Exploratory] Time-driven strategy description around earnings releases

**Free text answer**

Explore earning dates for the whole month of April - e.g. using YahooFinance earnings calendar (https://finance.yahoo.com/calendar/earnings?from=2024-04-21&to=2024-04-27&day=2024-04-23). Compare with the previous closed earnings (e.g., recent dates with full data https://finance.yahoo.com/calendar/earnings?from=2024-04-07&to=2024-04-13&day=2024-04-08). 

Describe an analytical strategy/idea (you're not required to implement it) to select a subset companies of interest based on the future events data.